[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/feishu/*"
  to = "https://open.feishu.cn/open-apis/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

